<div class="background">
  <div class = 'banner'>
    <div class="banner-txt"></div>
      <h1>Movies</h1>
      <h3><span data-controller="typed-js"></span></h3>
    </div>
  </div>
  <div class='cards-container'>
    <% @lists.each do |list| %>

        <%= link_to list_path(list) do |link| %>
          <div class='list-card'>
            <h2><%= list.name %></h2>
        </div>
        <% end %>
    <% end %>
  </div>
</div>
