// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: radial-gradient(circle, rgba(2,0,36,1) 2%, rgba(72,29,36,1) 34%, rgba(129,31,47,1) 58%, rgba(125,39,53,1) 91%);
