.list-card {
  height: 174px;
  width: 330px;
  background-image: url("movies.jpeg");
  background-position: center;
  background-size: cover;
  padding: 70px 0;
  text-align: center;
  justify-content: center;
  box-shadow: 5px 5px 23px 1px rgba(0, 0, 0, 0.523);
  margin: 30px 10px;
  border-radius: 10px;
  transition: all 2s ease;

}

.list-card h2 {
  font-size: 40px;
  color: white;
  text-decoration: none !important;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-card a {
  font-size: 30px;
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  text-decoration: none !important;
}

.list-card:hover {
  height: 184px;
  width: 340px;
}

.no-underline {
text-decoration: none;
}
