.movies-container {
  align-items: center;
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  margin: 0 auto;
  width: 100vw;
  font-family: $body-font
}
.movie-card {
  color: #3d0c2e ;
  background-color: #FBFEF9;
  margin: 10px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 82vh;
  width: 25vw;
  align-items: center;
  padding: 0px 10px 10px 10px;

  img {
    object-fit: cover;
    height: 50vh;
    margin: 10px 10px 20px 10px;
  }
  p {
    margin: 0 auto;
    padding: 10px 10px;
  }
}

.stars {
  display: flex;
  margin: 0 auto;
  color: gold;
}
.overview{
  overflow-y: scroll;
}
.hidden {
  display: none;
}
