.nav-bar {
  height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: sticky;
  top: 0;
}

.nav-bar a{
  text-decoration: none;
  color: transparent;
  font-size: 27px;
  padding: 0 10px;
  font-family: $headers-font;
}

.nav-bar a:hover {
  text-decoration: none;
}

.navbar-black {
  background-color: black;

  a {
    color: white;
  }
}
